body {
  background-color: black;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Manrope", sans-serif;
}

.welcome-block {
  width: 100%;
  min-width: 1400px;
  height: 765px;
  margin-top: 0 auto;
  position: relative;
  background-image: url("../resources/men.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.bloc-nav {
  width: 1400px;
  height: 765px;
  margin: 0 auto;
  position: relative;
}

.box-logo {
  position: absolute;
  width: 130px;
  height: 37px;
  left: 123px;
  top: 37px;
  background: #000000;
  border-radius: 100px;
  text-decoration: none;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 42.4138px;
  line-height: 36px;
  letter-spacing: -0.11em;
  text-transform: uppercase;
  color: #1bff07;
  text-align: center;
}

.nav-link {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  text-decoration: none;
  color: #ffffff;
  margin-left: 47px;
  margin-top: 33px;
}
.first-child {
  margin-left: 773px;
}
.nav-link:hover {
  color: #1bff07;
}
.text-welcom-block {
  position: absolute;
  width: 430px;
  height: 103px;
  left: 125px;
  top: 334px;

  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.title-welcom-block {
  position: absolute;
  left: 119px;
  right: 362px;
  top: 466px;
  bottom: 94px;

  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 70px;
  /* or 88% */

  letter-spacing: -0.03em;

  color: #1bff07;
}
.base-section {
  position: relative;
  width: 1400px;
  height: 1884px;
  margin: 0 auto;
}
.title-portfolio {
  position: absolute;
  top: -111px;
  left: 120px;

  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 72px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #ffffff;
}
.bolc-portfolio {
  position: relative;
  width: 1150px;
  height: 550px;
  margin: 0 auto;
}
.bolc-portfolio:first-child {
  margin-top: 262px;
}
.img-portfolio {
  position: relative;
}
.title-block-portfolio {
  position: absolute;
  left: 50px;
  bottom: 94px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #ffffff;
}
.text-portfolio {
  position: absolute;
  left: 50px;
  bottom: 50px;

  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #ffffff;
}
.projects-button {
  position: absolute;
  width: 582px;
  height: 153px;
  left: 123px;
  top: 1731px;
  display: block;
  flex-direction: row;
  background: #1bff07;
  border-radius: 10px;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 150px;

  text-align: center;
  letter-spacing: -0.03em;

  color: #000000;
}
.projects-button:hover {
  background: #000000;
  border: 1px solid #1bff07;
  border-radius: 4.67354px;
  color: #1bff07;
  text-decoration-color: #1bff07;
}
.section-benefits {
  width: 1400px;
  margin: 0 auto;
  height: 3652px;
  padding: 150px 123px 150px 123px;
}
.heading-benefits {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 72px;
  margin-bottom: 45px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #ffffff;
}
.enumeration-benefits {
  background: #1bff07;
  border-radius: 10px;
  width: 45px;
  height: 44px;
  text-align: center;
  margin-left: 2px;
}
.enumeration-benefits img {
  margin-top: 9px;
}
.subtitle-benefits {
  width: 720px;
  margin-top: 15px;
  margin-bottom: 16px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #1bff07;
}
.subtitle-benefits-last{
  width: 650px;

}
.text-benefits {
  width: 778px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;

  color: #ffffff;
  margin-bottom: 59px;
}
.capability-heading {
  margin-top: 150px;
  margin-bottom: 74px;
  width: 403px;
  height: 92px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.capability-img {
  width: 1150px;
  height: 200px;
  border-radius: 30px;
}
.box-capability {
  width: 1150px;
  height: 283px;
  border-radius: 30px;
  background: #191c19;
  padding: 40px;
  margin-bottom: 71px;
}
/* .box-capability:nth-last-child(1){
  
  margin-bottom: 0px;
} */
.box-capability:nth-last-child(3){
  
  margin-bottom: 134px;
}
.heading-box {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 72px;
  width: 1048px;
  height: 72px;
  

  letter-spacing: -0.03em;

  color: #1bff07;
}
.box-capability p {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;

  color: #ffffff;
  width: 749px;
  height: 116px;
  margin-top: 15px;
}
.connection {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  height: 717px;
  background: #191c19;
  border-radius: 30px;
  margin-bottom: 150px;
}
.drawing {
  position: absolute;
  left: 673px;
  border-radius: 30px;
}
.connection-title {
  position: absolute;
  left: 125px;
  top: 320px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.snares-connection {
  left: 125px;
  position: absolute;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  /* identical to box height, or 100% */

  letter-spacing: -0.03em;
  text-decoration: none;
  color: #ffffff;
}
.snares-connection:hover {
  color: #1bff07;
}
.instagram {
  top: 408px;
}
.telegram {
  top: 488px;
}
.mail {
  top: 568px;
}
footer {
  width: 100%;
  min-width: 1400px;
  height: 223px;
  margin: 0 auto;

  background: #ffffff;
  border-radius: 30px 30px 0 0;
}
.footer {
  width: 1400px;
  height: 223px;
  margin: 0 auto;
  padding: 76px 0px 24px 125px;
}
.footer-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: -0.03em;

  color: #000000;
}
.footer-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  margin-top: 66px;
  color: #000000;

  opacity: 0.5;
}
