@import "welcom-block.css";
@import "portfolio.css";
@import "benefits.css";
@import "capability.css";
@import "connection.css";
@import "footer.css";
@import "nav.css";

body {
  background-color: black;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Manrope", sans-serif;
}